@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #587691;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
    padding: 20px;
}

.hide { visibility: hidden }

.container{
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    width:800px;
    max-width:100%;
    min-height: 400px;
}

.container h1{
    font-size: 25px;
    color:grey;
    letter-spacing: 2px;
}


.container h3{
    font-size: 16px;
    color:grey;
    letter-spacing: 2px;
}

#sidenote{
  color:grey;
  font-size: 12px;
}

.btn{
    background-color: rgb(240, 150, 89);
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: inherit;
    color:#fff;
    font-size: 16px;
}

.btn:hover{
    border: 2px solid black;
}

.btn:disabled{
    background-color: lightseagreen;
}

